<h1> Boston Bikes... <div class="text-gray">so you can Bike Boston</h1></div>
<div class="text">
  <p>We are Boston's premier site for new and used bikes. </p>
  <p>We have the largest selection of both new and used and can get you on your way quickly so that you can tour the beautiful city of Boston.</p>
  <p>We also carry a full stock of children's bikes.</p>
</div>

<div class="biking-image">
	<img src="http://www.greenway.org/wp_ecg/wp-content/uploads/biking-boston-539x430.jpg">
</div>