<h1>StaticPages#contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>

<h2> Contact The Upscale Yardsale </h2>
<h5>Address: 1600 Osgood Street North Andover, MA 01845</h5>
<h5>Telephone: 555-234-6789</h5>
<h5>email: TheUpscaleYardsale@phoneydomain.biz</h5>
