<table>
  <tbody>
    <tr>
      <td style="color: black; font-family: Reem Kufi, Futura, Helvetica, Arial, sans-serif; font-size: 20px;">Welcome!</td>
    </tr>
    <tr>
      <td style="color: black; font-family: Reem Kufi, Futura, Helvetica, Arial, sans-serif; font-size: 16px;">Thank you for signing up with Boston Bikes</td>
    </tr>
  </tbody>
</table>