/* line 6, /Users/jml/Desktop/sample_app/app/assets/stylesheets/comments.scss */
.product-reviews h4 {
  text-align: left;
}

/* line 9, /Users/jml/Desktop/sample_app/app/assets/stylesheets/comments.scss */
.comment-labels {
  color: maroon;
}

/* line 12, /Users/jml/Desktop/sample_app/app/assets/stylesheets/comments.scss */
.comment-submit-button {
  border-color: maroon;
  background-color: beige;
  color: black;
  margin-top: 3%;
}

/* line 18, /Users/jml/Desktop/sample_app/app/assets/stylesheets/comments.scss */
.comment-box {
  border: 1px solid Maroon;
  border-radius: 15px;
  padding: 1% 2%;
  margin: 1%;
  width: 50%;
}
.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 2em;
}

@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/raty.eot");
  src: url("fonts/raty.eot?#iefix") format("embedded-opentype");
  src: url("fonts/raty.svg#raty") format("svg");
  src: url("fonts/raty.ttf") format("truetype");
  src: url("fonts/raty.woff") format("woff");
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "raty";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}
/* line 4, /Users/jml/Desktop/sample_app/app/assets/stylesheets/payments.scss */
.h1 {
  text-color: maroon;
}
/* line 5, /Users/jml/Desktop/sample_app/app/assets/stylesheets/products.scss */
.page-numbers {
  text-align: center;
  color: Green;
}

/* line 10, /Users/jml/Desktop/sample_app/app/assets/stylesheets/products.scss */
.col-xs-12, .col-md-6 {
  box-shadow: 3px gray;
}

/* line 15, /Users/jml/Desktop/sample_app/app/assets/stylesheets/products.scss */
.product_title {
  font-size: 4em;
  left: 25%;
  width: 30pc;
  height: 5pc;
  padding: 7px 0;
  position: relative;
}
/* line 1, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 6, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
body {
  background-color: #fffeea;
  color: maroon;
  position: relative;
}

/* line 13, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
h1 {
  font: bold;
  color: blue;
}

/* line 17, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
h2 {
  font-style: italic;
}

/* line 22, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
.container-fluid {
  width: 100%;
  text-align: center;
}

/* line 26, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
.navbar {
  margin: 0;
  padding: 0;
  border-radius: 15px;
  box-shadow: 3px 3px;
  color: black;
  background-color: beige;
  width: 98%;
}

/* line 35, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
ul {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

/* line 44, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
footer {
  border-radius: 15px 15px;
  box-shadow: black 3px 3px;
  width: 98%;
  padding: 5px;
}

/* line 50, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
.product-image {
  border: solid black;
  width: 95%;
  margin: 10px 10px;
}

/* line 55, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
.product-box {
  border: solid black;
}

/* line 58, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
hr {
  border-color: solid gray;
  border-width: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 64, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
.FeaturedProduct {
  margin-top: 100px;
}
/* line 6, /Users/jml/Desktop/sample_app/app/assets/stylesheets/users.scss */
.field {
  margin: 25px;
  border: solid 5px maroon;
  width: 25%;
  border-radius: 15px;
  padding: 5px;
  background-color: white;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

