/* line 6, /Users/jml/Desktop/sample_app/app/assets/stylesheets/comments.scss */
.product-reviews h4 {
  text-align: left;
}

/* line 9, /Users/jml/Desktop/sample_app/app/assets/stylesheets/comments.scss */
.comment-labels {
  color: white;
}

/* line 12, /Users/jml/Desktop/sample_app/app/assets/stylesheets/comments.scss */
.comment-submit-button {
  border-color: silver;
  background-color: white;
  color: white;
  margin-top: 3%;
}

/* line 18, /Users/jml/Desktop/sample_app/app/assets/stylesheets/comments.scss */
.comment-box {
  border: 1px solid silver;
  border-radius: 15px;
  padding: 1% 2%;
  margin: 1%;
  width: 50%;
}
.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 2em;
}

@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/raty.eot");
  src: url("fonts/raty.eot?#iefix") format("embedded-opentype");
  src: url("fonts/raty.svg#raty") format("svg");
  src: url("fonts/raty.ttf") format("truetype");
  src: url("fonts/raty.woff") format("woff");
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "raty";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}
/* Styling for Bootstrap NAVIGATION Section */
/* line 3, /Users/jml/Desktop/sample_app/app/assets/stylesheets/navigation.scss */
.navbar-custom {
  border-color: white;
  border-radius: 5px;
  display: inline-block;
  letter-spacing: 0.05em;
  top: 0;
  padding: 10px 5px 10px;
  margin: 5px;
  border: 1px solid white;
  z-index: 1;
}

/* line 14, /Users/jml/Desktop/sample_app/app/assets/stylesheets/navigation.scss */
.navbar {
  margin: 0;
  padding: 0;
  border-radius: 15px;
  box-shadow: 3px 3px;
  color: white;
  background-color: white;
  background: url(http://www.commentnation.com/backgrounds/images/forest_green_textured_background_seamless.jpg);
}

/* This code overrides boostrap's default for navbar */
/* styling siteName only */
/* line 26, /Users/jml/Desktop/sample_app/app/assets/stylesheets/navigation.scss */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: white;
}

/* other nav items */
/* line 32, /Users/jml/Desktop/sample_app/app/assets/stylesheets/navigation.scss */
.navbar-custom .navbar-nav > li > a {
  color: white;
}

/* line 35, /Users/jml/Desktop/sample_app/app/assets/stylesheets/navigation.scss */
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  background-color: #006400;
}

/* on the active link */
/* line 40, /Users/jml/Desktop/sample_app/app/assets/stylesheets/navigation.scss */
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #006400;
}

/* line 46, /Users/jml/Desktop/sample_app/app/assets/stylesheets/navigation.scss */
.navbar-custom .navbar-text {
  color: white;
}

/* line 49, /Users/jml/Desktop/sample_app/app/assets/stylesheets/navigation.scss */
.navbar-custom .navbar-toggle {
  border-color: white;
}

/* line 52, /Users/jml/Desktop/sample_app/app/assets/stylesheets/navigation.scss */
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: white;
}

/* line 56, /Users/jml/Desktop/sample_app/app/assets/stylesheets/navigation.scss */
.navbar-custom .navbar-toggle .icon-bar {
  background-color: white;
}

/* line 59, /Users/jml/Desktop/sample_app/app/assets/stylesheets/navigation.scss */
.navbar-menu ul {
  text-align: center;
  margin: 0;
  list-style-type: none;
  position: relative;
  text-transform: uppercase;
}

/* line 66, /Users/jml/Desktop/sample_app/app/assets/stylesheets/navigation.scss */
.navbar-menu li {
  display: inline-block;
}

/* line 70, /Users/jml/Desktop/sample_app/app/assets/stylesheets/navigation.scss */
.body {
  padding-top: 50px;
}

/* end Styling for bootstrap navigation section*/
/* line 4, /Users/jml/Desktop/sample_app/app/assets/stylesheets/payments.scss */
.h1 {
  text-color: maroon;
}
/* line 5, /Users/jml/Desktop/sample_app/app/assets/stylesheets/products.scss */
.page-numbers {
  text-align: center;
  color: white;
}

/* line 9, /Users/jml/Desktop/sample_app/app/assets/stylesheets/products.scss */
.FeaturedProduct {
  margin-top: 100px;
}

/* line 13, /Users/jml/Desktop/sample_app/app/assets/stylesheets/products.scss */
.col-xs-12, .col-md-6 col-xs-12, .col-lg-6 {
  border-radius: 15px 15px;
  box-shadow: 3px white;
}

/* line 17, /Users/jml/Desktop/sample_app/app/assets/stylesheets/products.scss */
.product_title {
  font-size: 4em;
  left: 25%;
  width: 30pc;
  height: 5pc;
  padding: 7px 0;
  position: relative;
  color: white;
}

/* line 26, /Users/jml/Desktop/sample_app/app/assets/stylesheets/products.scss */
.product-image {
  border: solid black;
  width: 95%;
  margin: 10px 10px;
}

/* line 31, /Users/jml/Desktop/sample_app/app/assets/stylesheets/products.scss */
.product-box {
  border: solid white;
  border-radius: 15px 15px;
  position: relative;
  display: inline-block;
  float: left;
  width: 90%;
  margin: 0 auto;
}
/* line 1, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 37, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 42, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 46, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 52, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 60, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 71, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 77, /Users/jml/Desktop/sample_app/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 6, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
body {
  background: url(http://www.commentnation.com/backgrounds/images/forest_green_textured_background_seamless.jpg);
  background-size: repeat;
  color: white;
  position: relative;
  margin-top: 1px;
}

/* line 15, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
.notice, .alert {
  font-family: Reem Kufi, Futura, Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 30px;
  color: red;
  font-weight: bold;
}

/* line 24, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
h1, h2, h3, h4, h5 {
  font-family: Reem Kufi, Futura, Helvetica, Arial, sans-serif;
  font-weight: 100em;
  font-variant: small-caps;
  color: white;
}

/* line 30, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
h1 {
  font: bold;
  color: white;
}

/* line 34, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
h2 {
  font-style: italic;
}

/* line 37, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
.text {
  font-family: Reem Kufi, Futura, Helvetica, Arial, sans-serif;
  font-size: 50;
  font-weight: 100em;
  font-variant: small-caps;
  color: white;
}

/* line 44, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
.text-gray {
  font-family: Reem Kufi, Futura, Helvetica, Arial, sans-serif;
  font-weight: 100em;
  font-variant: small-caps;
  color: gray;
  display: inline;
}

/* line 53, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
.container-fluid {
  width: 100%;
  text-align: center;
}

/* line 59, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
footer {
  border-radius: 15px 15px;
  box-shadow: white 3px 3px;
  width: 100%;
  padding: 5px;
  display: inline;
  margin: 50px 50px;
  font-family: Reem Kufi, Futura, Helvetica, Arial, sans-serif;
  font-weight: 100em;
  font-variant: small-caps;
  text-align: center;
}

/* line 72, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
.footer-address {
  color: gray;
  display: inline;
}

/* line 77, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
hr {
  border-color: solid black;
  border-width: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 85, /Users/jml/Desktop/sample_app/app/assets/stylesheets/static_pages.scss */
button {
  color: black;
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  margin: 25px;
}
/* line 6, /Users/jml/Desktop/sample_app/app/assets/stylesheets/users.scss */
.field {
  margin: 25px;
  border: solid 5px maroon;
  width: 25%;
  border-radius: 15px;
  padding: 5px;
  background-color: white;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

