// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-reviews h4 {
  text-align: left;
  color: black;
}
.comment-labels {
  color: black;
}
.comment-box { //out for now
  border: 1px solid black;
  border-radius: 15px;
  padding: 1% 2%;
  margin: 1%;
}
.submit-comment-button {
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}
textarea {
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

//Horizontal line
hr {
  border-color: solid black;
  border-width: 3px;
  margin-left: 10px;
  margin-right: 10px;
}