// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-reviews h4 {
  text-align: left;
}
.comment-labels {
  color: maroon;
}
.comment-submit-button {
  border-color: maroon;
  background-color: beige;
  color: black;
  margin-top: 3%;
} 
.comment-box {
  border: 1px solid Maroon;
  border-radius: 15px;
  padding: 1% 2%;
  margin: 1%;
  width: 50%;
}