/* Styling for Bootstrap NAVIGATION Section */
.navbar-custom {
  	border-color: white;
	border-radius: 5px;
	display: inline-block;
	letter-spacing: 0.05em;
	top: 0;
	padding: 10px 5px 10px; 
	margin: 5px;
	border: 1px solid white;
	z-index: 1; 
}
.navbar {
  	margin: 0;
	padding: 0;
	border-radius: 15px;
	box-shadow: 3px 3px;
	color: white;
	background-color: white;
	background: url(http://www.commentnation.com/backgrounds/images/forest_green_textured_background_seamless.jpg);
}

/* This code overrides boostrap's default for navbar */
/* styling siteName only */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  	color: white;
}
/* other nav items */
.navbar-custom .navbar-nav > li > a {
  	color: white;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  background-color: #006400;
}
/* on the active link */
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #006400;
}
.navbar-custom .navbar-text {
  color: white;
}
.navbar-custom .navbar-toggle {
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: white;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-menu ul {
  text-align: center;
  margin: 0;
  list-style-type: none;
  position: relative;
  text-transform: uppercase;
}
.navbar-menu li {
  display: inline-block;
}

.body {
  padding-top: 50px;
}
/* end Styling for bootstrap navigation section*/