// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-numbers {
  text-align: center;
  color: white;
}
.FeaturedProduct {
  margin-top: 100px;
}
//styling around the product box
.col-xs-12, .col-md-6 {
	border-radius: 15px 15px;
	box-shadow: 3px white;
}
.product_title {
    font-size: 4em;
    left: 25%;
    width: 30pc;
    height: 5pc;
    padding: 7px 0;
    position: relative;
    color: white;    
}
.product-image, {
  border: solid black;
  width: 95%;
  margin: 10px 10px;
}
.product-box {
  border: solid white;
  border-radius: 15px 15px;
}