// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th {
	font: bold;
	color: blue;
	padding: 50px;
}
table {
	margin: 25px;
}
thead {
	border: solid black;
	border-radius: 25px 25px;
	box-shadow: 3px gray;
	width: 99%;
}
.page-numbers {
  text-align: center;
  color: Maroon;
}
//styling around the product box - much more to be done here!
.col-md-4 {
	border: solid maroon;
	border-radius: 15px 15px;
	box-shadow: 3px gray;
}
