// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//body styling
body {
	background: url(http://www.commentnation.com/backgrounds/images/forest_green_textured_background_seamless.jpg);	
	background-size: repeat;
	color: white;
	position: relative;
	margin-top: 1px; 
}

//Alert Styling
.notice, .alert {
  font-family: Reem Kufi, Futura, Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 30px;
  color: red;
  font-weight: bold;
}

//text styling
h1, h2, h3, h4, h5 {
	font-family: Reem Kufi, Futura, Helvetica, Arial, sans-serif;
	font-weight: 100em;
	font-variant: small-caps;
	color: white;
}
h1 {
	font: bold;
	color: white;
}
h2 {
	font-style: italic;
}
.text{ 
	font-family: Reem Kufi, Futura, Helvetica, Arial, sans-serif;
	font-size: 50;
	font-weight: 100em;
	font-variant: small-caps;
	color: white;	
}
.text-gray {
	font-family: Reem Kufi, Futura, Helvetica, Arial, sans-serif;
	font-weight: 100em;
	font-variant: small-caps;
	color: gray;
	display: inline;
}

//Navigation styling
.container-fluid {
	width: 100%;
	text-align: center;
}

//footer styling
footer {
	border-radius: 15px 15px;
	box-shadow: white 3px 3px;
	width: 100%;
	padding: 5px;
	display: inline;
	margin: 50px 50px; //want to push footer box down a bit - not working
	font-family: Reem Kufi, Futura, Helvetica, Arial, sans-serif;
	font-weight: 100em;
	font-variant: small-caps;
	text-align: center;
}

.footer-address {
	color: gray;
	display: inline;
}

hr {
	border-color: solid black;
	border-width: 3px;
	margin-left: 10px;
    margin-right: 10px;
}

//Contact Form Button
button {
	color: black;
}

/* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    
    margin: 25px;
}