// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//form on the sessions/ new.html.erblogin page
.field {
	margin: 25px;
	width: 25%;
	border-radius: 15px;
	padding: 5px;
  color: #007100;
}
.btn .btn-primary {
  color: red;
}