<div class="product-reviews container-fluid col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">

    <!--calling and rendering partial from ex6.10-->
    <% @comments.each do |comment| %>
      <%= render partial: "comments/comment", 
        locals: { comment: comment }%>
    <% end %>
  </div>
 
  
</div> <!-- end product-comments -->

