<p id="notice"><%= notice %></p>

<h1>Products</h1>
<div class="container">

      <%= render @products %>
  </div>    
     
<p><p>Click here to add a <strong>
<%= link_to 'New Product', new_product_path %></strong></p>
