<p id="notice"><%= notice %></p>

<h1>Products</h1>

  <!--should this be a class row??? -->
  <div class = "container">
  	<!--cache key ties this back to app/helper/products_helper.rb-->
  	<!--greatly improved load time-->
  	<% cache(cache_key_for_products) do %>
    	<%= render @products %>
    <% end %>
  </div>
 
     
<p><p>Click here to add a <strong>
<%= link_to 'New Product', new_product_path %></strong></p>
